* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

#header {
    padding: 20px 0;
}

.content-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links a {
    color: var(--neutral-500, #2F2E41);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 36px;
}


.buttons {
    display: flex;
    gap: 16px;
}

.buttons button {
    padding: 16px 30px;
    color: var(--primary-400, #6C63FF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
    background: white
}

.outlined {
    color: white !important;
    background: #6C63FF !important;
}

.hero-content h1 {
    color: var(--neutral-500, #2F2E41);
    font-size: 86px;
    font-weight: 700;
    width: 350px;
}

.hero-content p {
    color: var(--neutral-300, #9893A3);
    max-width: 450px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    font-family: "Open Sans" sans-serif;
}

.hero-content button {
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #6C63FF;
    color: white;
    margin-top: 30px;
    border: none;
}

.hero-left img {
    margin-top: 30px;
}

.hero-left {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin-top: 128px;
}

.quality-content {
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}

.quality-right {
    display: flex;
    width: 400px;
    height: 309px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.quality-right h1 {
    color: var(--neutral-500, #2F2E41);
    font-size: 60px;
    font-weight: 700;
    max-width: 200px;
}

.quality-right p {
    color: var(--neutral-300, #9893A3);
    font-size: 20px;
    font-weight: 400;
    max-width: 350px;
    gap: 24px;
}

.quality-right a {
    color: white;
    background: #6C63FF;
    font-family: "Open Sans" sans-serif;
    text-decoration: none;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content-widht {
    display: flex;
    margin-top: 200px;
    gap: 180px;
}

.bath-left {
    display: flex;
    width: 400px;
    height: 309px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.bath-left h1 {
    display: flex;
    color: var(--neutral-500, #2F2E41);
    font-size: 60px;
    font-weight: 700;
    max-width: 200px;
    margin-top: 130px;
}

.bath-left p {
    color: var(--neutral-300, #9893A3);
    font-size: 20px;
    font-weight: 400;
    max-width: 350px;
}

.bath-left a {
    color: white;
    background: #6C63FF;
    font-family: "Open Sans" sans-serif;
    text-decoration: none;
}

.content-widht img {
    order: 1;
}


.life-widht {
    display: flex;
    margin-top: 250px;
    gap: 180px;
}


.left-head h1 {
    color: var(--neutral-500, #2F2E41);
    font-family: "Playfair Display" sans-serif;
    font-size: 60px;
    font-weight: 700;
    max-width: 200px;
}

.left-head p {
    color: var(--neutral-300, #9893A3);
    font-family: "Open Sans" sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
}

.left-head a {
    color: white;
    background: #6C63FF;
    font-size: 18px;
    gap: 2px;
}


.left-head {
    display: flex;
    width: 400px;
    height: 309px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.nav h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    color: var(--neutral-500, #2F2E41);
    font-size: 60px;
    font-weight: 700;
    margin: 220px 0 100px 0;

    letter-spacing: -1px;
}

.didi {
    display: flex;
    width: 363px;
    padding: 46px 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 2px;
    background: rgba(236, 235, 255, 0.30);
}


.didi p {
    color: var(--neutral-400, #717082);
    text-align: center;

    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.didi button {
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-400, #6C63FF);
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
}


.plan {
    display: flex;
    width: 363px;
    padding: 70px 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 2px;
    background: var(--primary-400, #6C63FF);
}


.plan p {
    color: var(--neutral-100, #FFF);
    text-align: center;

    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.plan button {
    display: flex;
    width: 186px;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-400, #6C63FF);
    font-size: 16px;
    font-weight: 700;
}


.box-1 {
    display: flex;
    width: 363px;
    padding: 46px 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 2px;
    background: rgba(236, 235, 255, 0.30);
}

.box-1 p {
    color: var(--neutral-400, #717082);
    text-align: center;

    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.box-1 button {
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-400, #6C63FF);
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
}

.aidana-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.from-title h1 {
    color: var(--neutral-500, #2F2E41);
    font-size: 60px;
    font-weight: 700;

}

.from-title button {
    display: flex;
    padding: 16px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
    color: var(--primary-400, #6C63FF);
    font-size: 14px;
    font-weight: 700;
}

.from-title {
    margin: 90px ;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-between;

   
}



.from-box {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 45px;
}


.from-box-1 h5 {
    color: var(--neutral-500, #2F2E41);
    font-size: 22px;
    font-weight: 600;
}


.from-box-1 p {
    color: var(--neutral-300, #9893A3);
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.from-box-2 h5 {
    color: var(--neutral-500, #2F2E41);
    font-size: 22px;
    font-weight: 600;
}

.from-box-2 p {
    color: var(--neutral-300, #9893A3);
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    margin: 10px 0;
}

.from-box-3 h5 {
    color: var(--neutral-500, #2F2E41);
    font-size: 22px;
    font-weight: 600;
}

.from-box-3 p{
    color: var(--neutral-300, #9893A3);
font-size: 16px;
font-weight: 400;
}
#hero7 {
    height: 700px;
    background: rgba(236, 235, 255, 0.6);
    margin-top: 370px;
  }
  
  .main7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 305px;
    padding: 84px 84px;
    border-radius: 2px;
    background: var(--neutral-500, #2f2e41);
    width: 900px;
    height: 296px;
    position: absolute;
    margin-top: -150px;
    margin-left: 190px;
  }
  
  .main7 h1 {
    font-family: Playfair Display;
    color: var(--neutral-100, #fff);
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    width: 346px;
  }
  
  .main7 button {
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6c63ff);
    background: var(--primary-400, #6c63ff);
    padding: 16px 30px;
    color: var(--neutral-100, #fff);
    font-weight: 700;
    width: 186px;
    height: 54px;
  }
  
  .images7 {
    display: flex;
    justify-content: space-evenly;
    width: 1280px;
    position: absolute;
    margin-top: 350px;
    margin-left: 10px;
  }
  
  .images7 h1 {
    font-family: Playfair Display;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .images7 h3 {
    font-size: 16px;
    font-weight: 400;
    color: #717082;
    line-height: 30px;
  }
  
  .logo {
    position: absolute;
    margin-top: 270px;
    margin-left: -1100px;
  }
  


